:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: #F1F1F1;
}

/* Navbar */

.navbar-light {
    position: fixed;
    width:100%;
    bottom:0px;
    left: 0px;
    background-color:white;
    padding:7px 0 12px 0;
}

/* End Navbar */


.mt-45px {
  margin-top: 45px;
}