.follow-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    font-size: 12px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.people-name{
    font-size: 12px;
}

.people-desc{
    font-size: 14px;
    font-weight: 500;
}