@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


:root:root {
  --adm-color-primary: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: #f1f1f1;

}

/* Navbar */

.adm-tab-bar {
  position: fixed;
  width: 100%;
  bottom: -4px;
  left: 0px;
  background-color: white;
  padding:10px 22px 10px;
  border-radius: 10px 10px 0 0;
  border-top: solid thin #d4d4d4 !important;
}

.adm-tab-bar-item-title-with-icon{
  margin-top: 8px !important;
}

.nbutton{
  color : #666666;
  font-weight: normal;
}

.nbutton-active{
  color : #000;
  font-weight: bold;
}

.nicon{
  font-size: 20px !important  ;
}

.ntext{
  font-size: 10px !important;
  margin-top: -5px;
}

.topNav{
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: solid thin #d4d4d4 !important;
}

.adm-nav-bar-left span{
 display: flex;
 font-size: 15px;
 margin-left: 0px;
}

/* End Navbar */

/* pages */
  .main-head{
    font-size: x-large;
    font-weight: 600;
  }

  .second-head{
    font-size: large;
    font-weight: 600;
  }
/* end pages */


/* Forms */
.wiishy-input-text{
  width: 100%;
  height: 100%;
  padding: 0px 5px;
  border: solid thin silver;
  border-radius: 5px;
  font-size: 16px;
}

#input-image-avatar{
  display: none;
}

.uploaAvatarBtn{
  vertical-align: -0.125em;
  position: absolute;
  bottom: 0px;
  margin-left: 97px;
  font-size: 39px;
  cursor: pointer;
  z-index: 9;
}

.uploaGiftBtn{
  vertical-align: -0.125em;
  position: absolute;
  bottom: 0px;
  z-index: 9;
  margin-left: 0px;
  margin-top: 100px;
  font-size: 39px;
  cursor: pointer;
}
/* End Forms */

.mt-45px {
  margin-top: 45px;
}

.xx {
  margin-bottom: 30px;
}

.btn-regular {
  background-color: black !important;
  color: white !important;
  border-radius: 5px !important;
  border: solid thin black;
  font-size: 14px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}


.btn-regular-outline {
  border-color: #d4d4d4 !important;
  background-color: white;
  color: black !important;
  border-radius: 5px !important;
  font-size: 14px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.btn-regular-outline-small {
  border-color: #d4d4d4 !important;
  background-color: white;
  color: black !important;
  border-radius: 5px !important;
  font-size: 11px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.btn-big-style{
  padding: 12px 5px !important;
  font-size: 16px !important;
}


.adm-image-uploader-cell-delete-icon {
  left: 11px !important;
  top: 5px !important;
  font-size: 13px !important;
}

.adm-image-uploader-cell-delete {
    width: 30px !important;
    height: 30px !important;
    font-size: 20px;
    border-radius: 0 0 0 30px !important;
}

.adm-slider-thumb{
  display: flex;
}

.input-alert
{
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 6px;
  color: black;
  float: right;
}


.adm-selector-item-active, .adm-selector-item-multiple-active{
color: black !important ;
border-radius: 5px !important;
border-color: black !important;
background-color: #fcfcfc !important;
}

.ant-radio-inner{
  border-color: #ffffff !important;
  background-color: #000000 !important;
}

.suggest-card{
  background-color: white;
  margin-right: 5px;
  margin-bottom: 20px;
  border: solid 1px #eaeaea;
  border-radius: 5px;
  padding: 15px 20px;
  padding-bottom: 12px;
}

.ant-select-selector{
  border-radius: 0px 5px 5px 0px !important;
  height: 43px !important;
  border: none !important;
  vertical-align: middle ;
}

.h-profile-container
{
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  padding: 8px 10px 10px 10px;
  background-color: #f8f8f8;
}

.h-event-container{
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  padding: 0px 10px 4px 5px;
  background-color: #f8f8f8;
}

.event-list-top-line{
  font-weight: 900 !important;
}

.event-list-bottom-line{
  font-weight: 200 !important;
  color: #787878;
}

.gift-suggestion-li{
  font-size: 13px;
}




